/* You can add global styles to this file, and also import other style files */
@import 'src/styles/colors';
@import './theme';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mat-typography p{
  margin: 0;
}
html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $super-light;

  .page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mat-btn {
    height: 30px;
    box-shadow: 2px 2px 4px 0 $shadow-color;
    border-radius: 5px;
    line-height: 30px;
    transition: background-color .2 ease;

    &:hover {
      box-shadow: 4px 4px 4px 0 $shadow-color;
      transform: translateY(-1px);
      background-color: $blue-grey-dark;
    }
  }
}

