<footer class="footer">
  <!-- TODO: Put Volha Zhurava to enum. remove hardcoded year -->
  <a class="footer-link" href="https://ozhurova.github.io/rsschool-cv/" target="_blank">© 2022 Volha Zhurava</a>

  <!-- TODO: use ngModel. Remove translate service. Use enum for lang options -->
  <select class="lang-select"
          #selectedLang
          (change)="switchLang(selectedLang.value)">
    <option *ngFor="let language of translate.getLangs()"
            [value]="language"
            [selected]="language === translate.currentLang">
      {{ language }}
    </option>
  </select>

</footer>
