$white: #ffffff;
$red: #ff0000ff;
$shadow-color: #4b45485e;
$border-color: #a6b0b6;
$super-light: #f8fafe;
$light: #c7d4da;
$orange: #eb8622;
$orange-light: #ffbd59;
$orange-dark: #f5772d;
$blue-grey-dark: #184058;
$blue-grey: #3b6176;
$blue-grey-light: #7b98a5;


