$white-color: #ffffff;
$error-color: #ff0000ff;
$shadow-color: #4b45485e;
$border-color: #a6b0b6;
$primary-50: #f8fafe;
$primary-100: #c7d4da;
$primary-300: #7b98a5;
$primary-500: #3b6176;
$primary-900: #184058;
$warn-300: #ffbd59;
$warn-500: #eb8622;
$warn-900: #f5772d;
