@import 'src/styles/colors';
@import 'src/styles/fonts';
@import 'src/styles/wrapper';

$img-height-width: 500px;

.container-wrapper {
  display: flex;
  justify-content: center;

  .login-wrapper {
    display: flex;
    align-self: center;
  }

  .main-img {
    width: $img-height-width;
    height: $img-height-width;
    margin: 0 35px;
    background: url("/assets/img/main-img.png") center/ contain no-repeat;
  }
}
