@import 'src/styles/colors';
@import 'src/styles/fonts';

.container-wrapper {
  display: flex;
  justify-content: center;

  .login-wrapper {
    display: flex;
    align-self: center;
  }

  .main-img {
    margin: 0 35px;
    height: 500px;
    width: 500px;
    background: url("/assets/img/main-img.png") center/ contain no-repeat;
  }
}

