@import 'src/styles/colors';
@import 'src/styles/fonts';

.container-wrapper {
  display: flex;
  justify-content: center;

  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .login-title {
      text-align: center;
      font-weight: 700;
      color: $blue-grey;
    }

    .login-field {
      width: 250px;
    }

    .btn-container {
      display: flex;
      justify-content: space-around;
      margin-top: 8px;
    }
  }

  .main-img {
    margin: 0 35px;
    height: 500px;
    width: 500px;
    background: url("/assets/img/main-img.png") center/ contain no-repeat;
  }
}

