@import 'src/styles/colors';
@import 'src/styles/fonts';
@import 'src/styles/variables';

$logo-height: 25px;
$logo-text-font-weight: 700;

.header {
  display: flex;
  justify-content: space-between;
  width: $header-footer-width;
  height: $header-footer-height;
  background-color: $primary-900;

  .wrapper-logo {
    display: flex;

    .header-logo {
      height: $logo-height;
      margin: 5px;
    }

    .logo-text {
      color: $white-color;
      font-size: $font-size;
      font-weight: $logo-text-font-weight;
      line-height: 35px;
    }
  }

  .right-wrapper {
    display: flex;

    .user-name {
      margin-right: 20px;
      align-self: center;
      color: $white-color;
    }
  }
}
