@import 'src/styles/colors';

$login-field-width: 250px;

.login-container {
  display: flex;
  flex-direction: column;

  .login-title {
    text-align: center;
    font-weight: 700;
    color: $primary-500;
  }

  .login-field {
    width: $login-field-width;
  }

  .input-error {
    color: $error-color
  }

  .btn-container {
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
  }
}
